
<!-- Blog Categories Section -->
<div class="custom-right-column">
    <div class="custom-categories-container">
        <h4>Categories</h4>
        <ul>
            {{#each groupedBlogs}}
                <li class="zone-link" data-zone-id="{{id}}">{{name}}</li>
            {{/each}}
        </ul>
    </div>
</div>

<!-- Blog Content Section -->
<div class="custom-categories-content">
    {{#each groupedBlogs}}
        <div class="zone-content" data-zone-id="{{id}}">
            <div class="blog-grid">
                {{#each blogs}}
                    <div class="custom-card-container">
                        <div class="custom-card">
                            <img src="/images/Blog/{{thumbnail}}" alt="{{title}}">
                            <div class="card-content">
                                <h3>{{title}}</h3>
                                <p>{{description}}</p>
                                <a href="/Read_More/{{slug}}">Read More</a>
                            </div>
                        </div>
                    </div>
                {{else}}
                    <p class="no-blogs-message">No blogs available in this category.</p>
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>

<!-- Latest Posts Section -->
<div class="custom-latest-posts-container">
    <h4>Latest Posts</h4>
    <ul>
        {{#each latestBlogs}}
            <li><a href="/Read_More/{{slug}}">{{title}}</a></li>
        {{/each}}
    </ul>
</div>

<script src="/js/blogManager.js"></script>
