<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Untree.co">
    <link rel="shortcut icon" href="/favicon.png">

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/photo-gallery.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <title>{{gallery.name}} - Photo Gallery</title>
</head>
<body>
    {{> header}}

    <div class="heading-pages">
        <h1>{{gallery.name}}</h1>
        <p><a href="/Home">Home</a> > Photo Gallery > {{gallery.name}}</p>
    </div>

    <div class="section">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-5 mb-4 mb-lg-0 order-lg-2" data-aos="fade-up">
                    <img src="/images/Photo Gallery/{{gallery.image}}" alt="{{gallery.name}}" class="img-fluid">
                </div>
                <div class="col-lg-5" data-aos="fade-up" data-aos-delay="100">
                    <h6 style="font-size: 20px;" class="heading mb-4">{{gallery.title}}</h6>
                    {{{gallery.description}}}
                </div>  
            </div>
        </div>
    </div>

    <div class="photo-gallery">
        <div>
            <h1>We invite you to click on each link below to view Before & <br>After Photos with Aesthetics Procedure Description</h1>
        </div>
        <div class="custom-container">
            {{{rowsHtml}}}
        </div>
    </div>

    {{> password_modal}}
    {{> moving_background}}
    {{> footer}}

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/header.js"></script>
</body>
</html>