<div class="dropdown">
				<a href="#" class="uncommon-link">PHOTO GALLERY <span class="dropdown-arrow">&#9662;</span></a>
				<ul class="dropdown-menu">
					{{#each galleries}}
					<li><a href="/galleries/{{slug}}" class="dropdown-link">{{name}}</a></li>
					{{/each}}
					<li><a href="/Guidelines" class="dropdown-link">Photography Guidelines</a></li>
				</ul>
</div>
<div class="dropdown">
				<a href="#" class="uncommon-link">PHOTO GALLERY <span class="dropdown-arrow">&#9662;</span></a>
				<ul class="dropdown-menu">
					{{#each galleries}}
					<li><a href="/galleries/{{slug}}" class="dropdown-link">{{name}}</a></li>
					{{/each}}
					<li><a href="/Guidelines" class="dropdown-link">Photography Guidelines</a></li>
				</ul>
</div>
<h3 class="footer-headers">Procedures</h3>
						<ul class="list-unstyled float-left links">
							{{#each galleries}}
							<li><a href="/galleries/{{slug}}">{{name}}</a></li>
							{{/each}}
							<li><a href="/Guidelines">Photography Guidelines</a></li>
						</ul>