
{{> header }}

<div class="heading-pages">
  <h1>{{subgallery.name}}</h1>
  <p><a href="/Home">Home</a> > <a href="/galleries/{{gallery.slug}}">{{gallery.name}}</a> > {{subgallery.name}}</p>
</div>

<div class="container2">
  <div class="content">
    <div class="col-lg-6 col-12 mb-4">
      <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel" style="max-width: 70%; margin: 0 auto;">
        <div class="carousel-inner">
          {{#if subgallery.images.[0]}}
          <div class="carousel-item active">
            <img src="/images/Photo Gallery/{{subgallery.images.[0]}}" class="d-block w-100 rounded" alt="Image 1">
          </div>
          {{/if}}
          {{#each subgallery.images}}
            {{#if @index}}
            <div class="carousel-item">
              <img src="/images/Photo Gallery/{{this}}" class="d-block w-100 rounded" alt="Image {{add @index 1}}">
            </div>
            {{/if}}
          {{/each}}
        </div>

        <div class="carousel-indicators">
          <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active" aria-current="true"></button>
          {{#each subgallery.images}}
            {{#if @index}}
            <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="{{@index}}"></button>
            {{/if}}
          {{/each}}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p class="mt-2 text-center">Click the image to expand. It'll open in full screen for a closer look.</p>
    </div>

    <div class="details">
      <div class="procedure-info">
        <div style="display: flex; align-items: center; gap: 8px; padding: 10px 10px;">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="blue" class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
          </svg>
          <p style="margin-top: 11px;">READ PROCEDURE DETAILS written by Dr. Khaled</p>
        </div>

        <div class="tabs">
          {{#if subgallery.title1}}
          <div id="tab_1" class="tab active" onclick="showTab('des_1', event)">{{subgallery.title1}}</div>
          {{/if}}
          {{#if subgallery.title2}}
          <div id="tab_2" class="tab" onclick="showTab('des_2', event)">{{subgallery.title2}}</div>
          {{/if}}
          {{#if subgallery.title3}}
          <div id="tab_3" class="tab" onclick="showTab('des_3', event)">{{subgallery.title3}}</div>
          {{/if}}
        </div>

        {{#if subgallery.description1}}
        <div id="des_1" class="tab-content" style="display: block;">
          <p>{{subgallery.description1}}</p>
        </div>
        {{/if}}
        {{#if subgallery.description2}}
        <div id="des_2" class="tab-content" style="display: none;">
          <p>{{subgallery.description2}}</p>
        </div>
        {{/if}}
        {{#if subgallery.description3}}
        <div id="des_3" class="tab-content" style="display: none;">
          <p>{{subgallery.description3}}</p>
        </div>
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{> moving_background}}
{{> footer}}
